.Mobail_screen{
    width: 600px;
    border: 2px solid red;
    height: 100%;
    margin-top: 20px;
}

.header, p{
    text-align: center;
}

.header_content{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.header_content a{
    text-decoration: none;
}

.header_2 img{
     width: 150px;
     margin-left: 5px;
}
.logo_bere{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    
}


.text_2{
    /* border: 2px solid green; */
        width: 200px;
        border-radius: 10px;
        margin-left: 5px;
        padding:2px;
}

.text_2 a{
    text-decoration: none;
    justify-content: center;
    background-color: green;
    border-radius: 10px;
    padding: 5px;
    color: white;
}








/* new item */



  .dropbtn{
    font-size: 35px;
    /* justify-content: right; */
    margin-left: 500px;
    
   
  }

  .fa-bars{
    font-size: 30px;
    justify-content: right;
  }
  .bers{
    justify-content: right;
    display: block;
  }

  .Dropdown{
    /* position:relative; */
    width: 100%;
    /* display: inline-block; */
      display: inline-block;
    
  }

  .Dropdown input[type="checkbox"] {
    display: none;
  }
  .dropdown_content{
    /* position: absolute; */
    display: none;

    
  }

  .dropdown_content a{
    text-decoration: none;
    font-size: 20px;
    border: 2px solid white;
    width: 600px;
    background-color: green;
    color: white;
    display: block;
    /* padding: 5px; */
  }

  .dropdown_content a:hover{
    background-color: darkgrey;
  }

  .Dropdown input[type="checkbox"]:checked ~ .dropdown_content{
    display: block;
    
  }


 .marquee{
  border: 2px solid pink;
  background-color: green;
  height: 35px;
  
  
 }
 .marquee h2{
  font-size: 16px;
  color: white;
  word-spacing: 10px;
  letter-spacing: 10px;
 }


/* new item */


 /* new topic */

    
.FEES a{
  text-decoration: none;
  
  
}
.FEES a{
  border: 2px solid pink;
  background-color: blue;
  color: white;
  padding: 2px;
  font-size: 10px;
  justify-content: center;
}



.icons{
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: rgb(181, 181, 211);
  align-items: center;

}
.icons a{
  text-decoration: none;
}
.fa-facebook{
   font-size: 30px;
   /* color: green; */
}
.fa-youtube{
 font-size: 30px;
 color: red;
}


 /* new topic */

 /* new work */

.varsity img{
  height: 200px;
  width: 100%;
}
/* new work */
 
   .book_con {
    /* border: 2px solid green; */
    display: inline-block;
    /* justify-content: center; */
    margin-left: 45%;
    
   }
   


   
 /* new work */