.first img{
 width: 30px;
 height: 30px;
 padding: 12px;
}

.first{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  box-shadow: 0 10px 10px 0 red;
  padding: ;
  
}

p{
  margin: 0;
  padding: 0;
}
.icon{
  justify-content: right;
}