

.scrollmenu{
  background-color: black;
  white-space: nowrap;
  overflow: auto;

}
   .scrollmenu a{
    display: inline-block;
    padding: 14px;
    text-decoration: none;
    text-align: center;
    color: white;
   }
   .scrollmenu a:hover{
    background-color: #777;
          
   }